/* Global -------------------------------------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

html {
    font-size: 16px;
    font-weight: 100;
    scroll-behavior: smooth;
}

:root {
    --cor1: rgb(255, 127, 80);
    --cor1Active: rgb(247, 138, 98);
}


/* MENU --------------------------------------------------------------------------------------------------------------------------------------- */

header {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header nav {
    text-align: right;
    padding: 0.5rem 0;
}

header nav img {
    width: 2.4rem;
}


/* section 1 - Titulo -------------------------------------------------------------------------------------------------------------------------- */

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    padding-top: 65px;
    min-height: 100vh;
}

section .btn {
    margin-top: 3rem;
}

h1 {
    font-size: 35px;
    font-weight: 800;
}

h1 span {
    color: var(--cor1);
}


/* Botão */

.btn {
    padding: 0.8rem 1.7rem;
    background-color: var(--cor1);
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 1000px;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    transition: opacity 0.6s;
}

.btn:hover {
    opacity: 0.8;
}


/*SECTION / HERO*/

section.hero {
    display: flex;
    background: snow;
    align-items: center;
}

section.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.hero .left {
    flex: 1;
    order: 2;
}

section.hero .right {
    flex: 1;
    text-align: center;
    order: 1;
}

section.hero .right img {
    width: 100%;
    max-width: 400px;
    border-radius: 50% 10%;
    box-shadow: 0.8rem 0.8rem 0 var(--cor1);
    transition: border-radius 0.4s;
}

section.hero .right img:hover {
    border-radius: 30% 20%;
}

@media (min-width: 800px) {
    section.hero .container {
        flex-direction: row;
    }
    section.hero .left {
        order: 1;
    }
    section.hero .right {
        order: 2;
    }
}


/* Final section 1/////////////////////////////////////////////////////////////////////////// */


/*SECTION / PROJECTS*/

section.projects {
    display: flex;
    background: black;
    align-items: center;
    color: white;
}

section.projects .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.projects .container .left {
    flex: 1;
    order: 1;
}

section.projects .container .right {
    flex: 1;
    text-align: center;
    order: 2;
}

@media (min-width: 800px) {
    section.projects .container {
        flex-direction: row;
    }
    section.projects .left {
        order: 1;
    }
    section.projects .right {
        order: 2;
    }
}


/* //////////////////////////////////////////////////////////////////////////* SECTION / CONTACT */

section.contact {
    display: flex;
    background: #25d366;
    align-items: center;
    color: white;
}

section.contact .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.contact .left {
    flex: 1;
    order: 2;
}

section.contact .right {
    flex: 1;
    order: 1;
}

section.contact .right img {
    width: 100%;
    max-width: 400px;
    border-radius: 50% 10%;
    box-shadow: 0.8rem 0.8rem 0 var(--cor1);
}

section.contact h1 span {
    color: #0e6d31;
}

section.contact .btn {
    background: #0e6d31;
}

@media (min-width: 800px) {
    section.contact .container {
        flex-direction: row;
    }
    section.contact .left {
        order: 1;
    }
    section.contact .right {
        order: 2;
    }
}


/* wathsApp */

.float {
    background-color: transparent;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    color: midnightblue;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 2px 1px 10px springgreen;
    z-index: 1000;
}